<md-card style="position:fixed;bottom:0;right:0;background: black;color:white" fxLayout="column" fxLayoutGap="10px">
    <header>
        Total Friends Online : {{totalUsers}}
    </header>
    <div id="myOnlineFriends">
        <div *ngFor="let user of OnlineUsers" [@animate] class="friendList">
            <a fxLayout (click)="OpenChatBox(user)">
                <div>
                    <img src={{user.pic}} class="profilePic" />
                </div>
                <div style="padding-top:15px">
                    <span> {{user.firstname}} {{user.lastname}}</span>
                </div>
            </a>
        </div>
    </div>
</md-card>